.DS_Store
.idea/
.vscode/
vendor/
coverage/
.phpunit.result.cache
.phpunit.cache
/build/
.php_cs.cache
.php-cs-fixer.cache
.env
.env.*
!.env.example
node_modules/
*.sqlite
/workbench/storage/
/workbench/vendor/
composer.lock
